<section class="container">
  <div class="promotion">
    <label for="promo-code">Have A Promo Code?</label>
    <input #promoCodeElement type="text" id="promo-code" />
    <button
      type="button"
      (click)="onPromoButton(promoCodeElement, totalPriceTax)"
    ></button>
  </div>
  <div class="summary">
    <ul>
      <li>
        Subtotal <span>{{ totalPrice | currency: "VND":"symbol" }}</span>
      </li>
      <li>
        Tax <span>{{ totalTax | currency: "VND":"symbol" }}</span>
      </li>
      <li class="total">
        Total
        <span>{{ totalPriceTax | currency: "VND":"symbol" }}</span>
      </li>
    </ul>
  </div>

  <div class="checkout">
    <button type="button" (click)="onCheckoutButton()">
      Check Out
    </button>
  </div>
</section>
